*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  --primary-light-color: hsl(206, 6%, 25%);
  --primary-dark-color: hsl(0, 0%, 15%);
  --primary-text-color: hsl(200, 21%, 95%);

  background-color: var(--primary-dark-color);
  color: var(--primary-text-color);
  font-family: Ubuntu, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100dvh;
}
#root {
  height: 100%;
}
.btn {
  padding: 14px 14px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  border: none;
}
.btn-primary {
  background: var(--primary-light-color);
  color: var(--primary-text-color);
}
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
